<?xml version="1.0"?>

<config>
	<modules>
		<Wpopalipay_Payment>
			<version>1.0.0</version>
		</Wpopalipay_Payment>
	</modules>

	<global>
		<models>
			<wpopalipay>
				<class>Wpopalipay_Payment_Model</class>
			</wpopalipay>
		</models>

		<blocks>
			<wpopalipay>
				<class>Wpopalipay_Payment_Block</class>
			</wpopalipay>
		</blocks>

		<resources>
			<wpopalipay_setup>
				<setup>
					<module>Wpopalipay_Payment</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</wpopalipay_setup>
			<wpopalipay_write>
				<connection>
					<use>core_write</use>
				</connection>
			</wpopalipay_write>
			<wpopalipay_read>
				<connection>
					<use>core_read</use>
				</connection>
			</wpopalipay_read>
		</resources>
		<helpers>
			<wpopalipay>
				<class>Wpopalipay_Payment_Helper</class>
			</wpopalipay>
		</helpers>
		<events>
			<sales_model_service_quote_submit_success>
				<observers>
					<wpopalipay_sales_model_service_quote_submit_success>
							<type>singleton</type>
							<class>Wpopalipay_Payment_Model_Observer</class>
							<method>sales_model_service_quote_submit_success</method>
					</wpopalipay_sales_model_service_quote_submit_success>
				</observers>
			</sales_model_service_quote_submit_success>
		</events>
	</global>


	<frontend>
		<routers>
			<wpopalipay>
				<use>standard</use>
				<args>
					<module>Wpopalipay_Payment</module>
					<frontName>wpopalipay</frontName>
				</args>
			</wpopalipay>
		</routers>
		<translate>
			<modules>
				<Wpopalipay_Payment>
					<files>
						<default>Wpopalipay_Payment.csv</default>
					</files>
				</Wpopalipay_Payment>
			</modules>
		</translate>
		<layout>
            <updates>
                <royalpay>
                    <file>wpopalipay/layout.xml</file>
                </royalpay>
            </updates>
        </layout>
	</frontend>


	<adminhtml>
		<translate>
			<modules>
				<Wpopalipay_Payment>
					<files>
						<default>Wpopalipay_Payment.csv</default>
					</files>
				</Wpopalipay_Payment>
			</modules>
		</translate>
	</adminhtml>

	<default>
		<payment>
			<wpopalipay>
				<active>0</active>
				<model>wpopalipay/wpopalipay</model>
				<title>Alipay Payment</title>
				<order_status>pending</order_status>
				<description>You will be redirected to alipay Payment when you place an order.</description>
				<transaction_url>https://pay2.xunhupay.com/v2</transaction_url>
				<sort_order>0</sort_order>
			</wpopalipay>
		</payment>
	</default>
</config>
