<?xml version="1.0"?>

<config>
	<modules>
		<Alipay_Payment>
			<version>1.0.0</version>
		</Alipay_Payment>
	</modules>

	<global>
		<models>
			<alipay>
				<class>Alipay_Payment_Model</class>
			</alipay>
		</models>

		<blocks>
			<alipay>
				<class>Alipay_Payment_Block</class>
			</alipay>
		</blocks>

		<resources>
			<alipay_setup>
				<setup>
					<module>Alipay_Payment</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</alipay_setup>
			<alipay_write>
				<connection>
					<use>core_write</use>
				</connection>
			</alipay_write>
			<alipay_read>
				<connection>
					<use>core_read</use>
				</connection>
			</alipay_read>
		</resources>
		<helpers>
			<alipay>
				<class>Alipay_Payment_Helper</class>
			</alipay>
		</helpers>
	</global>


	<frontend>
		<routers>
			<alipay>
				<use>standard</use>
				<args>
					<module>Alipay_Payment</module>
					<frontName>alipay</frontName>
				</args>
			</alipay>
		</routers>
		<translate>
			<modules>
				<Alipay_Payment>
					<files>
						<default>Alipay_Payment.csv</default>
					</files>
				</Alipay_Payment>
			</modules>
		</translate>
	</frontend>


	<adminhtml>
		<translate>
			<modules>
				<Alipay_Payment>
					<files>
						<default>Alipay_Payment.csv</default>
					</files>
				</Alipay_Payment>
			</modules>
		</translate>
	</adminhtml>

	<default>
		<payment>
			<alipay>
				<active>0</active>
				<model>alipay/alipay</model>
				<title>Alipay Payment</title>
				<description>You will be redirected to Alipay Payment when you place an order.</description>
				<transaction_url>https://pay.wordpressopen.com</transaction_url>
				<sort_order>0</sort_order>
			</alipay>
		</payment>
	</default>
</config>
